<div class="ratingContainer" @onmousemove="HandleMouse" @onclick="SlideStatus">
	<div class="star" style="@startStyle">
		<img src="@star1" width="@starSizestr" height="@starSizestr" />
	</div>
	<div class="star" style="@startStyle">
		<img src="@star2" width="@starSizestr" height="@starSizestr"  />
	</div>
	<div class="star" style="@startStyle">
		<img src="@star3" width="@starSizestr" height="@starSizestr"  />
	</div>
	<div class="star" style="@startStyle">
		<img src="@star4" width="@starSizestr" height="@starSizestr" />
	</div>
	<div class="star" style="@startStyle">
		<img src="@star5" width="@starSizestr" height="@starSizestr" />
	</div>	
</div>

@code {
	[Parameter]
	public bool AllowChanges { get; set; }

	[Parameter]
	public double CurrentRatingInStars { get; set; } = 0.0;

	[Parameter]
	public int MarginLeft { get; set; }

	[Parameter]
	public int MarginRight { get; set; }

	[Parameter]
	public int StarSize { get; set; }

	[Parameter]
	public bool UseFilledStars { get; set; }

	[Parameter]
	public EventCallback<double> CallBackMethod { get; set; }

	private int[]? startPoints = null!;
	private int[]? endPoints = null!;

	private int totalAmountOfStars = 5;

	private int halfStarSize;

	private string star1 = "";
	private string star2 = "";
	private string star3 = "";
	private string star4 = "";
	private string star5 = "";

	private string fullStar = "";
	private string halfStar = "";
	private string emptyStar = "";

	private string startStyle = "";
	private string starSizestr = "";

	private bool slideOverStars = true;

	private string GetPixels(int size) 
	{
		return size + "px";
	}

	private async void SlideStatus()
	{
		slideOverStars = !slideOverStars;

		await CallBackMethod.InvokeAsync(CurrentRatingInStars);
	}

	private void HandleMouse(MouseEventArgs e)
	{
		if (slideOverStars && AllowChanges)
		{
			int pos = (int)e.OffsetX;
			int found = -1;
			bool isHalf = false;

			if (endPoints != null && startPoints != null)
			{
				for (int i = endPoints.Length - 1; i >= 0; i--)
				{
					if (pos > startPoints[i] && pos <= endPoints[i])
					{
						found = i;
						isHalf = true;
						break;
					}
				}

				if (found == -1)
				{
					for (int i = endPoints.Length - 1; i >= 0; i--)
					{
						if (pos > endPoints[i])
						{
							found = i;
							isHalf = false;
							break;
						}
					}
				}

				FillStars(found, isHalf);
			}
		}
	}

	private int[]? CalculatePointsHalfStart()
	{
		int[] arr = new int[totalAmountOfStars];

		int total = MarginLeft;

		for (int i = 0; i < arr.Length; i++)
		{
			if (i == 0)
			{
				arr[i] = total;
			}
			else
			{
				total += StarSize + MarginRight + MarginLeft;
				arr[i] = total;
			}
		}

		return arr;
	}

	private int[]? CalculatePointsHalfEnd()
	{
		int[] arr = new int[totalAmountOfStars];

		int total = MarginLeft + halfStarSize;

		for (int i = 0; i < arr.Length; i++)
		{
			if (i == 0)
			{
				arr[i] = total;
			}
			else
			{
				total += halfStarSize + MarginRight + MarginLeft + halfStarSize;
				arr[i] = total;
			}
		}

		return arr;
	}

	private void FillStars(int index, bool isHalf)
	{
		ResetAllHigher(index);

		if (index == 0)
		{
			if (isHalf)
			{
				star1 = halfStar;
				CurrentRatingInStars = 0.5;
			}
			else
			{
				star1 = fullStar;
				CurrentRatingInStars = 1.0;
			}
		}

		if (index == 1)
		{
			if (isHalf)
			{
				star1 = fullStar;
				star2 = halfStar;
				CurrentRatingInStars = 1.5;
			}
			else
			{
				star1 = fullStar;
				star2 = fullStar;
				CurrentRatingInStars = 2.0;
			}
		}

		if (index == 2)
		{
			if (isHalf)
			{
				star1 = fullStar;
				star2 = fullStar;
				star3 = halfStar;
				CurrentRatingInStars = 2.5;
			}
			else
			{
				star1 = fullStar;
				star2 = fullStar;
				star3 = fullStar;
				CurrentRatingInStars = 3.0;
			}
		}

		if (index == 3)
		{
			if (isHalf)
			{
				star1 = fullStar;
				star2 = fullStar;
				star3 = fullStar;
				star4 = halfStar;
				CurrentRatingInStars = 3.5;
			}
			else
			{
				star1 = fullStar;
				star2 = fullStar;
				star3 = fullStar;
				star4 = fullStar;
				CurrentRatingInStars = 4.0;
			}
		}

		if (index == 4)
		{
			if (isHalf)
			{
				star1 = fullStar;
				star2 = fullStar;
				star3 = fullStar;
				star4 = fullStar;
				star5 = halfStar;
				CurrentRatingInStars = 4.5;
			}
			else
			{
				star1 = fullStar;
				star2 = fullStar;
				star3 = fullStar;
				star4 = fullStar;
				star5 = fullStar;
				CurrentRatingInStars = 5.0;
			}
		}
	}

	private void ResetAllHigher(int index)
	{
		if (index == -1)
		{
			star1 = emptyStar;
			star2 = emptyStar;
			star3 = emptyStar;
			star4 = emptyStar;
			star5 = emptyStar;
			CurrentRatingInStars = 0.0;
		}

		if (index == 0)
		{
			star2 = emptyStar;
			star3 = emptyStar;
			star4 = emptyStar;
			star5 = emptyStar;
		}

		if (index == 1)
		{
			star3 = emptyStar;
			star4 = emptyStar;
			star5 = emptyStar;
		}

		if (index == 2)
		{
			star4 = emptyStar;
			star5 = emptyStar;
		}

		if (index == 3)
		{
			star5 = emptyStar;
		}

	}

	protected override void OnParametersSet()
	{
		halfStarSize = StarSize / 2;

		startStyle = "margin-left:" + GetPixels(MarginLeft) + ";margin-right:" + GetPixels(MarginRight) + ";";
		starSizestr = GetPixels(StarSize);

		if (UseFilledStars)
		{
			fullStar = "../images/full_star_filled.png";
			halfStar = "../images/full_star_half.png";
			emptyStar = "../images/full_star_empty.png";
		}
		else
		{
			fullStar = "../images/border_star_filled.png";
			halfStar = "../images/border_star_half.png";
			emptyStar = "../images/border_star_empty.png";
		}

		star1 = emptyStar;
		star2 = emptyStar;
		star3 = emptyStar;
		star4 = emptyStar;
		star5 = emptyStar;

		if (CurrentRatingInStars > (double)0.0)
		{
			int fullStars = (int) CurrentRatingInStars / 1;
			bool isHalf = (CurrentRatingInStars % (double) 1.0 == 0.5) ? true : false;

			if (!isHalf)
			{
				fullStars--;
			}

			FillStars(fullStars, isHalf);
		}
	}

	protected override void OnAfterRender(bool isFirst) 
	{
		if(isFirst) 
		{
			startPoints = CalculatePointsHalfStart();
			endPoints = CalculatePointsHalfEnd();			
		}
	}

}